<main class="container">
    <style>
        .square {
            background-color: green;
        }
        main {
            height: 100%;
        }
    </style>

    <div class="row">
        <div class="col">
            <div class="square">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum cumque, modi ducimus velit temporibus veritatis reprehenderit quod facilis quos dolorum voluptatibus error voluptas illo eaque accusantium voluptates natus tenetur rem.
            </div>
        </div>
        <div class="col">
            <div class="square">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis tempore tempora iure temporibus eaque ad quia harum, tenetur nesciunt, accusantium, alias ab sed sunt et molestias totam explicabo sint quaerat.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="square">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, iste illo dolores aliquid voluptas ad, possimus rerum. Sunt iure enim, minima, ducimus perferendis, atque vero provident recusandae quaerat sequi eum.
            </div>
        </div>
        <div class="col">
            <div class="square">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum quia et dicta blanditiis facere fugit quis quo iste. Est, ab. Animi sed incidunt perferendis ipsa libero velit commodi illo fugiat.
            </div>
        </div>
    </div>
</main>