<main class="container">
    <style>
        .col{
            margin-bottom: 10px;
            margin-right: 10px;
        }
        .square {
            background-color: green;
        }
    </style>
    <div class="row">
        <div class="col">
            <div class="square">
                Ventas
            </div>
        </div>
        <div class="col">
            <div class="square">
                Generar reporte
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="square">
                Devolución
            </div>
        </div>
        <div class="col">
            <div class="square">
                Movimiento de almacén
            </div>
        </div>
    </div>
</main>