<style>
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px; 
}
</style>

<footer class="footer">
  <div class="container">
    <span class="text-muted">Punto de venta | Ingenieria de software 
    	<script>
    		var utc = new Date().toJSON().slice(0,10).replace(/-/g,'/');
			document.write(utc);
		</script>
	</span>
  </div>
</footer>