<main class="container">
    <form action="login.php" method="POST">
        <div class="form-group">
            <label for="productname">Nombre del producto</label>
            <input name="productname" type="text" class="form-control" placeholder="Introduce el nombre del producto">
        </div>
        <div class="form-group">
            <label for="description">Descripcion del producto</label>
            <textarea name="description" class="form-control" placeholder="Introduce la descripcion"></textarea>
        </div>
        <div class="form-group">
            <label for="price">Precio del producto</label>
            <input name="price" type="number" class="form-control" placeholder="Introduce el precio del producto">
        </div>
        <div class="form-group">
            <label for="stock">Stock inicial del producto</label>
            <input name="stock" type="number" class="form-control" placeholder="Introduce el stock del producto">
        </div>
        
        <center><button type="submit" class="btn btn-primary" style="padding: 5px 30px 5px 30px">Registrar</button></center>
    </form>
</main>