<script type="text/javascript" defer>
    $(document).ready(function() {
        $("form").submit(function(event) {
            event.preventDefault();
            var error = 0;
            var SUCCESS_STATUS = 201;
            var ERROR_STATUS = 500;
            var fields = $(this).serializeArray();
            for(var i = 0; i < fields.length; i++)
            {
                if (!fields[i]["value"]) 
                {
                    alertify.error("Todos los campos deben ser llenados");
                    return;
                }
            }
            $.ajax(
            {
                url: 'insert_employee.php',
                type: 'POST',
                data: $(this).serialize(),
            })
            .done(function(resp) 
            {
                console.log(resp);
                resp = JSON.parse(resp);
                console.log(resp.status);
                switch (resp.status) {
                    case SUCCESS_STATUS:
                        alertify.success(resp.message);
                        break;
                    case ERROR_STATUS:
                        alertify.error(resp.message);
                        break;
                    default:
                        break;
                }
                

            })
            .fail(function() 
            {
                resp = JSON.parse(resp);
                console.error(resp.status);
                alertify.error(resp.message);
            });
          
        });
    });
    
</script>
<main class="container">
    <form method="POST">
        <div class="form-group">
            <label for="RFC">RFC</label>
            <input name="RFC" type="text" class="form-control" placeholder="Introduce el RFC">
        </div>
        <div class="form-group">
            <label for="email">Correo electronico</label>
            <input name="email" type="email" class="form-control" placeholder="Introduce el email">
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input name="password" type="password" class="form-control" placeholder="Introduce la contraseña">
        </div>
        <div class="form-group">
            <label for="password2">Repetir contraseña</label>
            <input name="password2" type="password" class="form-control" placeholder="Repite la contraseña">
        </div>
        <div class="form-group">
            <label for="firstname">Nombre/s</label>
            <input name="firstname" type="text" class="form-control" placeholder="Introduce el nombre/s">
        </div>
        <div class="form-group">
            <label for="lastname">Apellido</label>
            <input name="lastname" type="text" class="form-control" placeholder="Introduce el apellido">
        </div>
        <div class="form-group">
            <label for="phone">Telefono</label>
            <input name="phone" type="text" class="form-control" placeholder="Introduce el telefono">
        </div>
        <div class="form-group">
            <label for="address">Direccion</label>
            <input name="address" type="text" class="form-control" placeholder="Introduce la direccion">
        </div>
        <center><button type="submit" class="btn" style="padding: 5px 30px 5px 30px">Registrar</button></center>
    </form>
</main>